body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0cm;
}
.pink-highlight{
    color: rgb(235, 72, 119);
    font-weight: 800;
    font-size: 50px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    
}
a{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(235, 73, 142),rgb(237, 75, 115));
    padding: 10px 20px;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    
}
 img{
    width: 90%;
   
    
}
section{
    height: 800px;
}
.top{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size:100% ;
}
.middle{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.biography-img{
    width: 80%;
}
.down {
    text-align: center;
    
}
.latest-work{
    width: 30%;
    float: left;
    margin-left: 1%;
    padding: 1px;
    
}
#margin{
    margin-left: 5%;
}
.work-section{
    background-image: url("images/latest-work-bg.png");
    width: 100%;
    height: 500px;
    
}

.down-center{
    width: 40%;
    margin: auto;
    background-position: center;
}
.fotter-box{
   width: 30%;
   margin: auto;
   background-image: linear-gradient(90deg,rgb(236, 80, 148),rgb(237, 75, 113));
   padding: 10px;
   border-radius: 10px;
   color: white;
}
footer{
    color: gray;
    text-align: center;
    font-size: 10px;
}
.down{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
   
     
}